.bmpui-seekbar-playbackposition{
    background-color: red !important
}

.bmpui-ui-settingstogglebutton.bmpui-off{
    display: none !important;
}
.bmpui-ui-volumetogglebutton.bmpui-muted{
    display: none !important;
}
.bmpui-ui-airplaytogglebutton.bmpui-off{
    display: none !important;
}