.bmpui-seekbar-playbackposition {
  background-color: #e50914 !important;
}

.bmpui-ui-settingstogglebutton.bmpui-off {
  display: none !important;
}
.bmpui-ui-volumetogglebutton.bmpui-unmuted {
  display: none !important;
}
.bmpui-ui-airplaytogglebutton.bmpui-off {
  display: none !important;
}
.bmpui-seekbar-playbackposition-marker {
  background-color: #e50914 !important;
  border: 0.1875em solid #e50914 !important;
}
